:root {
    --cn-color-green-1: #0F3C44;
    --cn-color-green-2: #035f70;
    --cn-color-blue-1: #00C7F8;
    --cn-color-grey-1: #F1F2F7;
    --cn-color-grey-2: #d4d5da;
    --cn-color-white-1: #F1F2F7;
    --cn-color-orange-1: #DE7420;
    --cn-color-orange-2: #FD8F3B;
}


@font-face {
    font-family: 'Roboto-Italic';
    src: url('public/assets/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
}

.bloc-section{
    margin-bottom: 100px;
}

h1 {
    color: var(--cn-color-green-1);
}

p{
    font-size: 22px;
}

.btn {
    background: #DE7420;
    padding: 8px 32px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: var(--cn-color-orange-2);
}

#navbarTop{
    position: fixed;
    background: var(--cn-color-green-1) !important;
    width: 100%;
    top: 0;
    z-index: 999999999999999999999999;
}

h.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
    width: 150px;
}

.navbar-brand img{
    width: 100%;
}

#navbarTop a{
    color: var(--cn-color-white-1);
}

.dropdown-menu.show {
    background: var(--cn-color-grey-1);
}

.dropdown-menu.show li a{
    color: var(--cn-color-green-1) !important;
}

#container-nav {
    padding-left: 100px;
    padding-right: 100px;
}

#navbarTop .profile a svg{
    margin-bottom: 5px !important;
}

#header-home {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: var(--cn-color-grey-1);
    background-image: url('../images/hero.png');
    margin-bottom: 100px;
    margin-top: 70px;
    
}

#header-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

#header-home .container {
    position: relative;
}


#header-home .text-hero {
    height: 60vh;
    color: var(--cn-color-white-1);
}

#header-home .text-hero h1 {
    color: var(--cn-color-white-1);
}

/* home card*/
#section-home-card .card {
    position: relative;
}

#section-home-card .card img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.btn-session {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    bottom: 75px;
    left: 50%;
    transform: translate(-50%);
}

#section-home-card .card:hover .btn-session {
    opacity: 1;
}
 
.btn.prim {
    width: 100%;
 }

 /* ********** page fims *********** */
 #cine-filter {
    margin-bottom: 20px;
    margin-top: 70px;
}

#toggleButton i {
    font-size: 22px;
    margin-left: 10px;
}

.toggle-icon i {
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

 .bloc-section .card img {
    height: 370px;
    object-fit: cover;
    width: 100%;
}

.cinemas-genres-jours h5 {
    font-size: 22px;
    color: var(--cn-color-green-1);
}

.cinemas-genres-jours div label {
    font-size: 20px;
    margin-left: 10px;
}

L.star-rating {
    font-size: 1.5em;
    font-family: monospace; 
    line-height: 1;   
}

.bloc-section .card .cine-heart {
    background-color: var(--cn-color-blue-1) !important;
    color: var(--cn-color-green-1);
}
 /* ********** page fims end *********** */

 /* ************* page séances *********** */
 #screenings-section {
    margin-top: 120px;
 }

 #screenings-section .btn-group {
    margin-top: 20px;
    margin-bottom: 30px;
    /*padding-left: 8%;
    padding-right: 8%;*/
    background: var(--cn-color-grey-1);
}

#screenings-section .btn-group .btn {
    background: none;
    border: none;
    color: var(--cn-color-green-1);
    padding: 8px 32px !important;
    mmax-width: 250px;
}

#screenings-section .btn-group .btn.active {
    color: var(--cn-color-orange-1);
}
#screenings-section .card.movie-title-desc {
   border: none;
}

.screenings .col a {
    text-decoration: none;
}

.screenings .card {
    background: var(--cn-color-green-2);
    color: var(--cn-color-white-1);
    cursor: pointer;
}

.screenings .b-quality, .screenings h5{
    color: var(--cn-color-green-1);
    font-size: 25px !important;
    font-weight: 600;
    color: var(--cn-color-white-1);
}

.screenings h6 {
    color: var(--cn-color-grey-2) !important;
    margin-top: -10px;
}

#quality-price {
    margin-bottom: 50px;
    margin-top: 50px;
}

#quality-price h2 {
    margin-bottom: 20px;
}
 /* ************* fin page séances *********** */

 /* ************ page réservation ********* */
#film-list-by-cinema {
    margin-top: 120px;
}

#film-list-by-cinema h1 {
    margin-bottom: 20px;
}

#film-list-by-cinema h1 span {
    text-transform: capitalize;
    color: var(--cn-color-orange-1);
}

#film-list-by-cinema .no-movie-available {
    height: 30vh;
    font-size: 40px;
    color: var(--cn-color-orange-1);
}
 
/* ************ fin page réservation ********* */

 
/* ************ header funnel ********* */
.heauder-funnel .container .logo-funnel {
    width: 150px !important;
    background: var(--cn-color-green-1);
    border-radius: 5px;
}

.heauder-funnel .container .logo-funnel img {
    width: 100%;
}



.heauder-funnel .container .b-back {
    width: 50px;
    left: 25% !important;
}

.heauder-funnel .container .b-back a {
    width: 50px;  
}

.heauder-funnel .container .b-back a img {
    width: 100%;
}

.heauder-funnel .container .hero-funnel {
    max-width: 800px;
    margin: 0 auto;
}

.heauder-funnel .container .hero-funnel .card {
    border: none;
    background: var(--cn-color-white-1);
}

.heauder-funnel .container .hero-funnel .card .col-md-3 {
    height: 193px;
}

.heauder-funnel .container .hero-funnel .card .col-md-3 img {
    height: 193px;
    object-fit: cover;
    width: 100%;
}

.heauder-funnel .container .hero-funnel .infos-screening {
    display: flex;
    align-items: center;
    color: var(--cn-color-green-1);
}

.heauder-funnel .container .hero-funnel .col-md-4.infos-screening  {
    background: var(--cn-color-green-1);
    color: var(--cn-color-white-1);
    border-radius: 0 5px 5px 0;
    margin-right: -1px;
}

.heauder-funnel .container .hero-funnel .col-md-4.infos-screening h6 {
    color: var(--cn-color-white-1);
}
 
/* ************ fin header funnel  ********* */





/* ************ page réservation siége ********* */
.seat-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.seat-plan .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    margin-right: 25px;
}

.seat-checkbox {
    display: none;
}

.rooms-seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rooms-seats h5 {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FD8F3B;
}

.rooms-seats h5::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    background: #FD8F3B;
    bottom: 7px;
    left: -120px;
    transform: rotate(5deg);
    sfont-size: 20px;
}

.rooms-seats h5::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    background: #FD8F3B;
    bottom: 7px;
    right: -120px;
    transform: rotate(-5deg);
}

.seat {
    width: calc(100% / 10 - 40px); 
    display: inline-block;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.seat-icon svg {
    width: 50px;
    height: 50px;
    fill: #FD8F3B; 
    transition: fill 0.3s ease;
}

.seat-icon.reserved svg {
    fill: #D3D3D3; 
    cursor: not-allowed;
}

.seat-icon.selected svg {
    fill: #035f70; 
}

.seat-icon.accessible svg {
    fill: #FD8F3B; 
}

.seat-icon.reserved.accessible svg {
    fill: #D3D3D3; 
}

.seat-icon.selected.accessible svg {
    fill: #035f70; 
}

.seat-icon.available:hover svg {
    opacity: 0.8;
}

.seat-plan-row {
    max-width: 100%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap;
}

#counter-selected-btn {
    display: none;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; /
}

#seatCounter, #selectedSeats {
    color: var(--cn-color-green-1);
}

#seatCounter, #reservedSeats, #selectedSeats {
    font-size: 16px;
    margin-top: 20px;
}

#seatCounter span, #selectedSeats span, #reservedSeats span {
    font-weight: bold;
    color: var(--cn-color-green-2);
}

/* Style pour l'écran */
.rooms-seats div {
    margin-bottom: 10px;
}
      /* ************ section log ********* */
#log .btn-row, #logs .btn-row {
    border-bottom: 2px solid var(--cn-color-grey-2);
    max-width: 800px;
    margin: 0 auto;
} 

#logs {
    margin-top: 150px;
    margin-bottom: 100px;
    min-height: 66vh;
}

#log .btn.group, #logs .btn.group {
    background: none;
    border: none;
}

#log .btn.active, #logs .btn.active {
    border: none;
    color: var(--cn-color-orange-1);
}

#log .form-row, #logs .form-row {
    max-width: 800px;
    margin: 0 auto;
}

#log .form-row input, #logs .form-row input{
    border: 2px solid var(--cn-color-grey-2);
    font-size: 24px;
}

.form-control:focus {
    border-color: var(--cn-color-orange-2) !important;
    box-shadow: 0 0 0 .1rem rgb(222 116 32 / 67%);
}




.section-transition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}
    
.section-transition.active {
    opacity: 1;
    display: block;
}
      /* ************ fin section log ********* */
/* ************ fin page réservation siége ********* */

/* ********** page récapitulatif commande **************** */
#section-recap {
    max-width: 800px;
    margin: 0 auto;
    color: var(--cn-color-green-1);
}

#section-recap .title1 {
    border-bottom: 2px solid var(--cn-color-green-1);
}

#section-recap .order-infos {
    border: 2px solid var(--cn-color-green-1);
    border-radius: 10px;
}

#section-recap .recap-img-container {
    display: flex;
    justify-content: flex-end;
}

#section-recap .recap-img {
    width: 55%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

#section-recap .recap-img  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

#section-recap .order-infos .h-start {
    font-weight: 600;
}

#section-recap .order-infos .places {
    background: var(--cn-color-green-1);
    color: var(--cn-color-white-1);
}

#section-recap .form-check  {
    font-size: 20px;
}


#section-recap .form-check input{
    border: 2px solid var(--cn-color-grey-2);
}

#section-recap .form-check input:focus {
    border-color: var(--cn-color-orange-2) !important;
    box-shadow: none;
}

/* ********** Fin page récapitulatif commande **************** */

/* ********** Page confirm **************** */
#section-confirm {
    width: 50%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    margin-top: 40px;
}

#section-confirm .row {
    
}

#section-confirm .col {
    background: var(--cn-color-grey-1);
    border-radius: 10px;
    padding: 50px 0;
    
}

#section-confirm .col h2 {
    color: var(--cn-color-green-1);
}

#section-confirm .col a {
    color: var(--cn-color-orange-1);
    font-size: 20px;
}
/* ********** Fin Page confirm **************** */


/* ******footer************ */
footer {
    background: var(--cn-color-green-1);
    color: var(--cn-color-white-1);
} 

@media (max-width: 992px) {
    #container-nav {
        padding-left: 30px;
        padding-right: 30px;
        
    }
}

@media (min-width: 992px) {
    #navbarTop {
        height: 70px;
    }
}

@media (max-width: 768px) {
    #container-nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .heauder-funnel .container .b-back {
        width: 50px;
        left: 15% !important;
    }

    .heauder-funnel .container .hero-funnel .card .col-md-3 {
        height: auto;
    }
    .heauder-funnel .container .hero-funnel .card .col-md-3 img {
        height: 400px;
    }

    #section-recap .recap-img-container {
        display: flex;
        justify-content: center;
    }

}